/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Themes
- State-based
- General page spacing
- Text
- Inputs, selects, textareas
- Table and table tool spacing/arrangement
- Images
- Display modes
*/

/* Themes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --bg-color: white;
  --color: black;
  --internal-link-color: #272C38;
  --link-decoration: none;
  --input-color: black;
  --button-color: black;
  --button-hover-color: #333;
  --dark-mode-button-color: white;
}

.dark {
  --bg-color: #272C38;
  --color: white;
  --internal-link-color: #E24B4B;
  --link-decoration: none;
  --input-color: black;
  --button-color: white;
  --button-hover-color: #999;
  --dark-mode-button-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  font-family: 'Quicksand', sans-serif;
}

/* State-based
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Inactive = clicking does nothing, so give user a hint (e.g. page nav) */
.inactive {
  /* Man this is gross */
  pointer-events: none !important;
  opacity: 0.5 !important;
}

/* Disabled = turned off because not suitable for current view */
.disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.action-not-ready {
  pointer-events: none !important;
}

#lock-icon, #fetch-icon {
  display: inline;
  margin: 1rem;
}

.clickable {
  cursor: pointer;
}

/* General page spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  overflow-y: scroll;
}

#settings {
  margin-top: 1rem;
  text-align: right;
  padding-right: 1rem;
}

#header {
  margin-top: 5%;
}

#right-col {
  margin-bottom: 10%;
}

#navigation, #transfer {
  margin-bottom: 1.5rem;
}

#va-info-bio {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#va-info-bio-portrait {
  margin-right: 2rem;
  margin-bottom: 2rem;
}

#va-info-name {
  margin-top: 1rem;
}

/* Text
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header h2, #header h5 {
  display: inline-block;
}

#header h2 {
  margin-right: 2rem;
}

caption {
  font-weight: bold;
}

caption::after {
  content: attr(data-content);
  font-weight: normal;
}

a {
  text-decoration: var(--link-decoration);
}

th {
  font-weight: normal;
}

td.symbol {
  text-align: center;
  padding: 0;
  font-size: 2rem;
}

.jp {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

.internal_link {
  color: var(--internal-link-color);
}

/* Inputs, selects, textareas, button-like objects
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input, select, textarea {
  color: var(--input-color);
}

input:disabled {
  opacity: 0.5;
}

input[type="submit"],
input[type="button"] {
  color: var(--button-color);
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
  color: var(--button-color); /* No change to text on hover/focus */
  border-color: #33C3F0;
}

input#dark-mode-switch {
  color: var(--dark-mode-button-color)
  background-color: transparent;
}

#navigation a, #navigation #page-tracker {
  color: white;
  background-color: #33C3F0;
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: var(--link-decoration);
  border-radius: 4px;
  font-size: 2rem;
  opacity: var(--obj-opacity);
  pointer-events: var(--mouse-response);
}

.follow-icon {
  font-size: 2rem;
}

/* Table and table tool spacing/arrangement
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#va-table-tools {
  padding-bottom: 1.5rem;  /* Makes it look better on mobile */
}

#navigation #page-tracker {  /* Center vertically and horizontally */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6ch;
  margin-bottom: 1rem;
}

#search-bar {
  width: 18ch;  /* Fits an iPhone 5, so probably fits every smartphone */
}

th { /* Makes header occupy one line only */
  overflow: hidden;
  white-space: nowrap;
}

/* Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.thumbnail-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
}

.thumbnail {
  height: 17rem;
  width: 12rem;
  display: inline-block;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative; /* allow things to be positioned inside */
}

.thumbnail-caption {
  text-align: center;
  overflow-wrap: break-word;
}

/* Display modes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#va-side-containers > div.grid,
#va-bottom-container.grid,
.va-table.grid,
.roles-table.grid,
.follow-table.grid {
  padding-top: 2rem;
  border-radius: 4px;
  border-color: var(--color);
  border-width: 1px;
  border-style: solid;
  margin-bottom: 2rem;
}

#va-side-containers > div.grid,
#va-bottom-container.grid {
  width: 100%;
}

.va-character-header {
  text-align: center;
}

.va-character-wrapper {
  text-align: center;
}

.va-character-wrapper div {
  display: inline-block;
  vertical-align: top; /* Make top of divs line up, instead of bottom */
}

.grid .thumbnail-icon {
  color: white;
}

.grid .thumbnail-icon-wrapper {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);  /* grey */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
